<app-card-in-middle>
  <h2>הרשמה כעו"ד מתנדב</h2>

  <h3 *ngIf="!r.isNew()">בקשתך נתקבלה ומספרה {{ r.id }}</h3>
  <data-area [settings]="area" *ngIf="r.isNew()"></data-area>
  <h3 *ngIf="r.isNew()">תחומי עיסוק:</h3>
  <mat-chip-list
    *ngIf="r.isNew()"
    selectable
    multiple
    (click)="chipSelected($event)"
  >
    <mat-chip
      *ngFor="let l of legalExpertise"
      [selected]="r.legalExpertise.includes(l)"
      >{{ l }}</mat-chip
    >
  </mat-chip-list>
  <button
    mat-raised-button
    color="primary"
    *ngIf="r.isNew()"
    (click)="submit()"
  >
    שלח
  </button>
</app-card-in-middle>
