<app-card-in-middle>
  <h2>שאלה משפטית</h2>

  <h3 *ngIf="!r.isNew()">בקשתך נתקבלה ומספרה {{ r.id }}</h3>
  <data-area [settings]="area" *ngIf="r.isNew()"></data-area>
  <div>
    <mat-checkbox [(ngModel)]="confirm" *ngIf="r.isNew()">
      אני מאשר/ת שהפרטים המוזנים נכונים ומסכים/ה
      <a (click)="showTerms()">לתנאי השימוש</a>
    </mat-checkbox>
  </div>
  <button
    mat-raised-button
    color="primary"
    style="margin-top: 1rem"
    *ngIf="r.isNew()"
    (click)="submit()"
  >
    שלח
  </button>
</app-card-in-middle>
