<div class="home-cards-container">
  <mat-card class="home-card">
    <h2>Have a legal question?</h2>

    After your question is reviewed, we will connect you with a licensed
    attorney to help resolve your questions.
    <button mat-raised-button color="primary" routerLink="/path/to/route">
      <div><span>Ask a question</span><span>---></span></div>
    </button>
  </mat-card>
  <mat-card class="home-card">
    <h2>Are you a lawyer that wants to volunteer?</h2>

    You will help answer legal questions based on your practice area of
    expertise.
    <button mat-raised-button color="primary" routerLink="/path/to/route">
      <div><span>Sign up to volunteer</span><span>---></span></div>
    </button>
  </mat-card>
</div>
