<div class="home-top-bar">
  <img src="/assets/images/logo.png" class="home-top-bar__logo">
</div>

<div class="home-intro">
  <div class="home-intro__inner">
  
    <div class="home-intro__inner__text">
      <h2>פורום הסיוע המשפטי של לשכת עורכי הדין בישראל למען אזרחי מדינת ישראל</h2>
  
      <p>
        עורכות ועורכי הדין מתנדבים לענות על שאלות משפטיות הנוגעות למלחמה ולהעניק
        לכם אזרחי מדינת ישראל מענה משפטי, מהיר, ממוקד ומקצועי, לכל צורך הנוגע
        למלחמה ובהתנדבות מלאה
      </p>
    </div>
    
    <div class="home-intro__letter">
      
      <div class="home-intro__letter__image">
        <img src="/assets/images/thumb.png">
      </div>
      
      <div class="home-intro__letter__text">
        <p>אזרחי מדינת ישראל, לשכת עורכי הדין איתכם.</p>
  
        <p>אנו מעמידים לרשותכם ממשק אינטרנטי נוח שיחבר ביניכם לבין עורכי דין מתנדבים ובאמצעותו תוכלו לקבל מענה מהיר, מקצועי ויעיל לשאלות משפטיות בקשר למלחמה.</p>
        
        <p>האתר הוקם בעקבות שיתוף פעולה פורה שנוצר בין לשכת עורכי הדין בישראל לבין לשכת עורכי הדין בניו יורק ומשרד גרינברג טראוריג כחלק ממגמת חיזוק הקשרים המקצועיים של לשכת עורכי הדין בישראל אל מול לשכות עורכי דין ברחבי העולם.</p>
        
        <p>ביחד ננצח<br>
        עו״ד עמית בכר<br>
        ראש לשכת עורכי הדין</p>
      </div>
      
    </div>
    
  </div>
</div>

<div class="home-cards-container">
  <mat-card class="home-card">
    <h2>יש לך שאלה משפטית?</h2>

    לאחר בחינת שאלתך, נקשר אותך לעורך דין מורשה שיסייע בפתרון השאלה
    <button
      mat-raised-button
      color="primary"
      routerLink="/בקשה לסיוע משפטי"
      class="home-card__button"
    >
      <div><span>לשאלה משפטית</span></div>
    </button>
  </mat-card>
  <mat-card class="home-card">
    <h2>את/ה עורך/כת דין המעוניין/נת להתנדב?</h2>

    תוכל/י לסייע בפתרון שאלות משפטיות של אזרחי מדינת ישראל בתחום ההתמחות שלך

    <button
      mat-raised-button
      color="primary"
      routerLink="/volunteer"
      class="home-card__button"
    >
      <div><span>להרשמה כמתנדב/ת </span></div>
    </button>
  </mat-card>
</div>
