<div class="home-intro">
  <div class="home-intro__inner">
    <h2>פורום הסיוע המשפטי של לשכת עורכי הדין בישראל למען אזרחי מדינת ישראל</h2>

    <p>
      עורכות ועורכי הדין מתנדבים לענות על שאלות משפטיות הנוגעות למלחמה ולהעניק
      לכם אזרחי מדינת ישראל מענה משפטי, מהיר, ממוקד ומקצועי, לכל צורך הנוגע
      למלחמה ובהתנדבות מלאה
    </p>
  </div>
</div>

<div class="home-cards-container">
  <mat-card class="home-card">
    <h2>יש לך שאלה משפטית??</h2>

    לאחר בחינת שאלתך, נקשר אותך לעורך דין מורשה שיסייע בפתרון השאלה
    <button
      mat-raised-button
      color="primary"
      routerLink="/בקשה לסיוע משפטי"
      class="home-card__button"
    >
      <div><span>לשאלה משפטית</span></div>
    </button>
  </mat-card>
  <mat-card class="home-card">
    <h2>את/ה עורך דין המעוניין להתנדב?</h2>

    תוכל/י לסייע בפתרון שאלות משפטיות של אזרחי מדינת ישראל בחום ההתמחות שלכך

    <button
      mat-raised-button
      color="primary"
      routerLink="/volunteer"
      class="home-card__button"
    >
      <div><span>להרשמה כמתנדב</span></div>
    </button>
  </mat-card>
</div>
